<section class="problems block">
	<div class="container">
			<h2 class="title">Проблемы с суставами<br>
					постоянно о себе напоминают?</h2>
			<div class="problems-content">
				<div class="problems-box">
					<div class="problems-box__img"><img src="img/problem-1.jpg" alt="problem"></div>
					<div class="problems-box__text">Ноющая боль</div>
				</div>
				<div class="problems-box">
					<div class="problems-box__img"><img src="img/problem-2.jpg" alt="problem"></div>
					<div class="problems-box__text">Ухудшение подвижности</div>
				</div>
				<div class="problems-box">
					<div class="problems-box__img"><img src="img/problem-3.jpg" alt="problem"></div>
					<div class="problems-box__text">Деформация суставов</div>
				</div>
				<div class="problems-box">
					<div class="problems-box__img"><img src="img/problem-4.jpg" alt="problem"></div>
					<div class="problems-box__text">Отеки и покраснения</div>
				</div>
			</div>
	</div>
</section>