<section class="signal">
  <div class="container">
    <div class="signal-title title">
      Боль в суставах — <span class="accent-color">сигнал</span> о сбое в
      организме
    </div>
    <div class="signal__wrap">
      <img src="img/invalid.png" alt="" class="signal__image" />
      <div class="signal__box">
        <p class="signal__about">
          Игнорирование проблемы может привести к более тяжелым последствиям —
          инвалидности. И если вам кажется, что это может случиться с кем
          угодно, только не с вами, вы заблуждаетесь!
        </p>
        <p class="signal__about-accent">
          Пока вы уживаетесь с болью, патологические изменения внутри
          <span class="nowrap">вас развиваются.</span>
        </p>
        <p class="signal__big-accent">Не откладывайте на завтра —</p>
        <p class="signal__subtitle">
          начните реабилитацию суставов вместе с
          <span class="blue-accent nowrap">Arthro Lab</span>
        </p>
        <button class="signal-btn btn">
          Заказать<span class="form__btn_size">cо скидкой</span>
        </button>
      </div>
    </div>
  </div>
</section>
