<section class="use">
  <div class="container">
    <div class="use-title title">
      Как применять <span class="nowrap blue-accent">Arthro Lab</span>
    </div>
    <div class="use__wrap">
      <div class="use__prop-box-img"></div>
      <div class="use__prop-box">
        <div class="use__prop use__prop--end">
          <div class="use__prop-img-box">
            <img src="img/use__prop-1.png" class="use__prop-img" />
          </div>

          <p class="use__prop-title">
            Извлеките из упаковки одну монодозу<br />
            и хорошо взболтайте
          </p>
        </div>
        <div class="use__prop">
          <div class="use__prop-img-box">
            <img src="img/use__prop-2.png" class="use__prop-img" />
          </div>

          <p class="use__prop-title">
            Выпейте сразу<br />
            или растворите в воде
          </p>
        </div>
        <div class="use__prop use__prop--end">
          <div class="use__prop-img-box">
            <img src="img/use__prop-3.png" class="use__prop-img" />
          </div>

          <p class="use__prop-title">
            Принимайте препарат<br />
            <span class="nowrap">1 раз</span> в день<br />
            не менее <span class="nowrap">30 дней</span>
          </p>
        </div>
      </div>
      <div class="use_product-box">
        <img src="img/use__prod-bg.png" class="use__product-bg" />
        <div class="use_product">
          <img src="img/pack.png" class="use__product-pack" />
          <img src="img/capsule.png" class="use__product-capsule" />
        </div>
      </div>
    </div>
  </div>
</section>
