<section class="composition block" id="composition">
	<div class="container">
		
		<h2 class="title title-composition"><span class="maincolor">Arthro Lab</span> безопасен даже при проблемах с язвой желудка или сердцем</h2>

		<p class="composition__subtitle">Благодаря смарт формуле и компонентам,  не вызывающим побочных эффектов</p>

		<div class="composition__main">

			<div class="composition__present">
				<div class="composition__prod">
					<img src="img/pack.png" alt="ArthroLab">
					<div class="composition__circle"></div>
					<div class="composition__triangle"></div>
				</div>
			</div>

			<div class="composition__list">

					
					<div class="composition__item composition__item-1">
						<p class="composition__name composition__name-1">Метилсульфонилметан</p>
						<p class="composition__descr">Оказывает противовоспалительное действие</p>
					</div>

					<div class="composition__item composition__item-2">
						<p class="composition__name composition__name-2">Витамин С</p>
						<p class="composition__descr">Активирует синтез коллагена</p>
					</div>

					<div class="composition__item composition__item-3">
						<p class="composition__name composition__name-3">Хондроитин</p>
						<p class="composition__descr">Улучшает фосфорно-кальциевый обмен в хрящевой ткани</p>
					</div>

					<div class="composition__item composition__item-4">
							<p class="composition__name composition__name-4">Глюкозамин</p>
							<p class="composition__descr">Восстанавливает структуру суставного хряща</p>
					</div>

					<div class="composition__item composition__item-5">
						<p class="composition__name composition__name-5">Экстракт Таволги вязолистной</p>
						<p class="composition__descr">Уменьшает отеки, снимает воспаления и болевые ощущения</p>
					</div>

					<div class="composition__item composition__item-6">
						<p class="composition__name composition__name-6">Гиалуроновая кислота</p>
						<p class="composition__descr">Предотвращает трение суставных поверхностей и их изнашивание</p>
					</div>

					<div class="composition__item composition__item-7">
						<p class="composition__name composition__name-7">Марганец</p>
						<p class="composition__descr">Поддерживает здоровье костей и соединительной ткани</p>
					</div>

					<div class="composition__arrows">
						<div class="composition__arrow composition__arrow-top">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="26" viewBox="0 0 24 26">
			  					<path d="M1247.35,3442.44a1.256,1.256,0,0,0,0,1.76,1.2,1.2,0,0,0,1.71,0l8.71-8.94v20.51a1.215,1.215,0,1,0,2.43,0v-20.51l8.7,8.94a1.207,1.207,0,0,0,1.72,0,1.256,1.256,0,0,0,0-1.76l-10.78-11.06a1.2,1.2,0,0,0-1.7,0Z" transform="translate(-1247 -3431.03)"/>
							</svg>
						</div>
						<div class="composition__round"></div>
						<div class="composition__arrow composition__arrow-bottom">
							<svg xmlns="http://www.w3.org/2000/svg" width="23.97" height="26.03" viewBox="0 0 23.97 26.03">
							  <path d="M1247.35,3516.59a1.256,1.256,0,0,1,0-1.76,1.183,1.183,0,0,1,1.7,0l8.71,8.94v-20.51a1.221,1.221,0,0,1,1.2-1.25,1.238,1.238,0,0,1,1.22,1.25v20.51l8.69-8.94a1.207,1.207,0,0,1,1.72,0,1.256,1.256,0,0,1,0,1.76l-10.77,11.05a1.183,1.183,0,0,1-1.7,0Z" transform="translate(-1247 -3502)"/>
							</svg>
						</div>
					</div>

			</div>

		</div>

	</div>
</section>