<section class="safe">
  <div class="container">
    <div class="safe-title title">
      <span class="blue-accent">Arthro Lab</span> безопасно действует на причину
      боли, <span class="nowrap">не маскируя</span> симптомы
    </div>
    <div class="safe__wrap">
      <div class="safe__info">
        <div class="safe__item safe__item-1">
          <div class="safe__item-title">
            <span class="blue-accent">Новая эра</span> в лечении суставов
          </div>
          <p class="safe__item-descr">
            Биологически активная формула для суставов позволяет избежать
            операции, способствуя эффективной реабилитации в домашних условиях.
          </p>
        </div>
        <div class="safe__item safe__item-2">
          <div class="safe__item-title">
            <span class="blue-accent">Безопасная</span> альтернатива НПВС
          </div>
          <p class="safe__item-descr">
            Состав <span class="blue-accent nowrap">Arthro Lab</span> позволяет
            уменьшить дозу НПВС, которые постепенно разрушают внутренние органы.
            <span class="blue-accent nowrap">Arthro Lab</span> эффективен и
            безопасен при длительном применении.
          </p>
        </div>
        <div class="safe__item safe__item-3">
          <div class="safe__item-title">
            <span class="blue-accent">Подходит</span> для всех
          </div>
          <p class="safe__item-descr">
            <span class="blue-accent nowrap">Arthro Lab</span> не вызывает
            побочных эффектов, поэтому его можно употреблять людям с сердечно -
            сосудистыми заболеваниями и язвой желудка.
          </p>
        </div>
        <div class="safe__btn-box">
          <button class="safe-btn btn ever-popup-btn">
            Заказать<span class="form__btn_size">cо скидкой</span>
          </button>
          <p class="safe__btn-descr">
            *Перед использованием внимательно
            <span class="nowrap">читайте инструкцию</span>
          </p>
        </div>
      </div>
      <div class="safe__image-box">
        <img src="img/safe__product.png" class="safe__product" />
        <img src="img/safe__product-bg.jpg" class="safe__product-bg" />
      </div>
    </div>
  </div>
</section>
