<section class="delivery block" id="delivery">
	<div class="container">
		<h2 class="title">Как заказать доставку <span class="blue">Arthro Lab</span></h2>
		<div class="delivery-content">
			<div class="delivery-box">
				<div class="delivery-box__img img-effect"><img src="img/del1.jpg" alt="delivery"></div>
				<div class="delivery-box__title">Заполните форму заказа</div>
				<div class="delivery-box__text">Укажите только свое имя<br>
					и номер телефона</div>
			</div>
			<div class="delivery-box">
				<div class="delivery-box__img img-effect"><img src="img/del2.jpg" alt="delivery"></div>
				<div class="delivery-box__title">Ответьте на звонок оператора</div>
				<div class="delivery-box__text">Он уточнит ваши адресные данные<br>
					и ответит на все вопросы о Arthro Lab</div>
			</div>
			<div class="delivery-box">
				<div class="delivery-box__img img-effect"><img src="img/pack.png" alt="Arthro Lab" class="del-pack"><img src="img/del3.jpg" alt="delivery"></div>
				<div class="delivery-box__title">Оплатите после получения</div>
				<div class="delivery-box__text">Никаких предоплат!</div>
			</div>
		</div>
	</div>
</section>