<section class="statistics block">
	<div class="container">
		<h2 class="title"><span class="blue">Arthro Lab</span> не уступает в действии<br>
				болеутоляющим <span class="grey">(НПВС)</span></h2>
				<div class="statistics-subtitle">При этом <span class="blue">Arthro Lab</span> на 100% безопасен,<br>
						а <span class="black">НПВС</span> — сопровождаются рядом побочных эффектов, включая проблемы с желудком и сердцем
						</div>
						<div class="statistics-content">
							<div class="statistics-box">
								<div class="statistics-head">WOMAC pain score (mm) +95 %CI</div>
								<div class="statistics-box__left"><span>300</span><span>200</span><span>100</span><span>0</span></div>
								<div class="statistics-box__img"><img src="img/table-1.png" alt="table"></div>
								<div class="statistics-box__bottom"><span>30 days</span><span>60 days</span><span>90 days</span><span>120 days</span></div>
								<div class="statistics-box__name"><span class="statistics-box__effect">Снижение боли</span><span class="statistics-box__prod">Arthro Lab</span><span class="statistics-box__other">NSAIDs</span></div>
							</div>
							<div class="statistics-box">
								<div class="statistics-head">Joint swelling ( %Yes)</div>
								<div class="statistics-box__left new-colum"><span>12</span><span>10</span><span>8</span><span>6</span><span>4</span><span>2</span><span>0</span></div>
								<div class="statistics-box__img"><img src="img/table-2.png" alt="table"></div>
								<div class="statistics-box__bottom sec-colum"><span>30 days</span><span>60 days</span><span>90 days</span><span>120 days</span></div>
								<div class="statistics-box__name sbn"><span class="statistics-box__effect">Снижение воспаления</span><span class="statistics-box__prod">Arthro Lab</span><span class="statistics-box__other">NSAIDs</span></div>
							</div>
						</div>
						<div class="statistics-attention">Графики составлены по результатам клинических исследований</div>
	</div>
</section>