<section class="header block last-block">
		<div class="header-woman"><img src="img/woman.png" alt="woman"></div>
			<div class="container">
				<div class="header-content">
						<div class="header-left">
								<h1 class="header__title"><span>Восстановите</span> <span>здоровье суставов,<br> не выходя из дому</span></h1>
								<h4 class="header__subtitle">Без записи на прием<br>
										и длительного ожидания</h4>
								<ul class="header-list">
									<li class="header-list__item">Снимает боль и воспаление</li>
									<li class="header-list__item">Стимулирует синтез коллагена</li>
									<li class="header-list__item">Поддерживает здоровье костей</li>
								</ul>
								<div class="header-prodcomment">Биологически<br>
										активная формула</div>
						</div>
						<div class="header-center">
							<div class="header-center__prod">
							<img class="header-pack" src="img/pack.png" alt="ArthroLab">
							<img class="header-capsule" src="img/capsule.png" alt="ArthroLab">
						</div>
						</div>
						<div class="header-right">
								<div class="form" id="cloneMobileThis">
										<div class="form-top">
											<div class="form-top__title">
													Успейте забронировать<br>
													по акционной цене<br>
												<span class="form-top__date">до <span class="date-0">15.01.2019</span></span>
											</div>
											<div class="price">
												<div class="price-old">
													<div class="price-old__title">
														Старая цена
													</div>
													<div class="price-old__count">
														<span class="x_price_previous">1980</span><span class="x_currency">руб</span>
													</div>
												</div>
												<div class="price-line"></div>
												<div class="price-new">
													<div class="price-new__title">
														Новая цена
													</div>
													<div class="price-new__count">
														<span class="x_price_current">990</span><span class="x_currency">руб</span><span class="star">*</span>
													</div>
												</div>
											</div>
										</div>
										<!-- <div class="form-question">Как к вам обращаться?</div> -->
										<form action="/submit" class="x_order_form" method="post">
											<div class="x_country_select">
												<select name="" id="">
													<option value="">Vue.js</option>
												</select>
											</div>
											<div class="form__input-name">
												<input autocomplete="name" class="form__input" name="name" placeholder="Моё имя" required="" type="text">
											</div>
											<div class="form__input-phone">
												<input autocomplete="tel" class="form__input" name="phone" placeholder="Мой телефон" required="" type="tel">
											</div>
											<button class="form__btn btn" type="/submit">Заказать<span class="form__btn_size">cо скидкой</span></button>
										</form>
									
										<div class="form-lastpack">
												Еще упаковок по акции: <span class="lastpack">15</span>
										</div>
									</div>
						</div>
				</div>
			</div>
		</section>
	