.reviews
	padding: 80px 0
	background-color: #ecf0f3
	+r(1189)
		padding: 60px 0
	&-content
		margin-top: 50px
		+r(1189)
			margin-top: 40px
		+r(1023)
			margin-top: 30px
		+r(767)
			margin-top: 25px
	&-box
		padding: 30px 30px 25px
		border: 1px solid transparent
		position: relative
		// &:hover
		// 	background-color: #fff
		// 	&:before
		// 		display: none
		// 	.shadow
		// 		background-image: linear-gradient(to top,#fff 0,rgba(255,255,255,0) 100%)
		// 	.reviews-box__cbtn:before
		// 		background-color: #eaeaea
		+r(1189)
			padding: 25px 25psx 20px
		+r(479)
			padding: 15px 15px 20px
		&:before
			content: ''
			position: absolute
			right: -2px
			top: -6px
			width: 295px
			height: 155px
			background-image: radial-gradient(#fff 39%,transparent 0)
			background-size: 20px 20px
			background-position: 0 0,10px 10px
			+r(1189)
				width: 215px
		&__img
			display: block
			width: 306px
			margin-right: auto
			margin-left: auto
			img
				box-shadow: 2px 10px 24px rgba(128, 120, 139, 0.26)
			+r(1189)
				width: 100%
			+r(1023)
				width: 306px
			+r(767)
				width: 100%
			+r(639)
				width: 306px
			+r(370)
				width: 100%
		&__name
			margin-top: 35px
			color: #3c3948
			font-size: 22px
			font-weight: 700
			line-height: 26px
			+r(1189)
				margin-top: 30px
			+r(767)
				margin-top: 25px
			+r(479)
				max-width: 306px
				display: block
				margin-left: auto
				margin-right: auto
		&-cont
			display: flex
			margin-top: 5px
			justify-content: space-between
			align-items: flex-end
			+r(479)
				max-width: 306px
				margin-left: auto
				margin-right: auto
		&__star
			display: flex
			margin-right: 11px
			img
				flex-shrink: 0
				height: 18px
				width: 18px
				margin-right: 1px
		&__city
			color: #5789bf
			font-size: 20px
			font-weight: 400
		&__text
			margin-top: 35px
			color: #3c3948
			font-size: 18px
			font-weight: 400
			line-height: 28px
			max-height: 257px
			overflow: hidden
			transition: .2s
			+r(1189)
				margin-top: 30px
				line-height: 26px
			+r(767)
				margin-top: 20px
				line-height: 24px
				max-height: 266px
			+r(639)
				max-height: 150px
			+r(479)
				max-width: 306px
				margin-left: auto
				margin-right: auto
			+r(450)
				max-height: 125px
			b
				font-weight: bold
		&__btn
			display: flex
			justify-content: center
			position: relative
			margin-top: 8px
		&__cbtn
			position: relative
			z-index: 0
			cursor: pointer
			&:before
				content: ''
				position: absolute
				top: 50%
				left: 50%
				transform: translate(-50%, -50%)
				width: 170px
				height: 1px
				background-color: #babec7
				z-index: -1
		// 	width: 30px
		// 	height: 30px
		// 	background-color: #5789bf
			// border-radius: 50%
			// position: relative
			// transition: .2s
			// cursor: pointer
			// &:before, &:after
			// 	content: ''
			// 	position: absolute
			// 	top: 50%
			// 	left: 50%
			// 	transform: translate(-50%, -50%)
			// 	width: 20px
			// 	height: 2px
			// 	background-color: #fff
			// &:after
			// 	transform: translate(-50%, -50%) rotate(-90deg)
	.img-effect:after, .img-effect:before
		z-index: 0
.shadow
	position: absolute
	width: 100%
	height: 150px
	bottom: 0px
	left: 0
	opacity: 1
	transition: opacity 1s
	background-image: linear-gradient(to top,#ecf0f3 0,rgba(236, 240, 243, 0) 100%)
.reviews-content__body
	position: relative
.slick-slide 
	outline: 0
	margin: 0px 15px 0px
	+r(1189)
		margin: 0 10px 0
	+r(639)
		margin: 0 62px 0
	+r(479)
		margin: 0 20px 0
.slick-list
	margin: 0 -15px
	padding: 0 !important
	+r(1189)
		margin: 0 -10px
.minus
	display: none !important
.content-plus
	.reviews-box__text
		max-height: 800px
	.reviews-box__cbtn
		&:after
			opacity: 0
	.shadow
		opacity: 0
	.reviews-box__cbtn
	.plus
			display: none !important
			z-index: 2
	.minus
		display: block !important
		z-index: 2
// .slick-center
// 	border: 1px solid #eaeaea
// 	background-color: #ffffff
// 	&:before
// 		display: none
// 	.shadow
// 		background-image: linear-gradient(to top,#fff 0,rgba(255,255,255,0) 100%)
.arrow-conteiner
	position: relative
.reviews-arrow
	position: absolute
	top: 310px
	cursor: pointer
	+r(1189)
		top: 275px
	+r(1023)
		top: 295px
	+r(767)
		top: 260px
	+r(345)
		top: 250px
	+r(332)
		top: 240px
.prev
	left: -50px
	fill: #babec7
	+r(1280)
		left: -20px
	+r(1215)
		left: -5px
	&:hover, &:focus
		fill: #5789bf
.next
	right: -50px
	fill: #babec7
	+r(1280)
		right: -20px
	+r(1215)
		right: -5px
	&:hover, &:focus
		fill: #5789bf
.rev-dn
	display: none
	+r(639)
		display: flex
.plus-help
	+r(639)
		display: flex

@media (min-width: 1281px)
	.reviews
		&-box
			&:hover
				background-color: #fff
				&:before
					display: none
				.shadow
					background-image: linear-gradient(to top,#fff 0,rgba(255,255,255,0) 100%)
				.reviews-box__cbtn:before
					background-color: #eaeaea