<section class="reviews block" id="reviews">
	<div class="container">
		<h2 class="title">Отзывы</h2>
		<div class="arrow-conteiner">
		<div class="reviews-content">
	
		

			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava10.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Михаил, 71 год</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Познань</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">Не считаю себя старым, люблю активно проводить время с внуками 
					и друзьями. Поэтому очень расстроился, когда у меня год назад до слез разболелись суставы. Оказалось, что у меня артроз коленного сустава 2 степени, который развился на фоне старой травмы. Врач посоветовал пить курсами хондропротекторы, чтобы не было привыкания. Кажется, Arthro Lab был третьим. Эффект стал заметен 
					к концу первого месяца приема. Пропала необходимость
					в обезболивающих. Незаметно для себя я забыл о своих проблемах 
					и вернулся к активному образу жизни.</div>
					<div class="shadow rev-dn"></div>
				</div>
					<div class="reviews-box__btn rev-dn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>

			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava3.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Василий, 46 лет</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Генуя</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">Заказывал для профилактики коленного сустава, так как иногда бывают щелчки, когда занимаюсь
					в тренажерном зале. Это средство <b>однозначно сократило щелчки</b>. 
					Я могу спокойно заниматься спортом
					и не бояться, что травмируюсь. 
					Удобно, что средство предварительно расфасовано.</div>
					<div class="shadow rev-dn"></div>
				</div>
					<div class="reviews-box__btn rev-dn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava4.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Макар, 63 года</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Севилья</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">У меня уже больше 10 лет проблемы
					с суставами. До этого я пил целую гору таблеток, мазался кремами/гелями, но как болело, так и продолжало болеть. Когда начались проблемы с язвой желудка, я испугался и <b>начал ответственнее относится к тому, что принимаю</b>. Именно поэтому я стал пить Arthro Lab. Боль стала утихать
					и сейчас только иногда дает о себе знать. </div>
					<div class="shadow"></div>
				</div>
					<div class="reviews-box__btn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava5.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Алевтина, 45 лет</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Варшава</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">Для лечения плеча мне прописали <b>внутрисуставные инъекции</b>. Приходилось каждый день тратить
					на дорогу по 2,5 часа, чтобы доехать до больницы и сделать укол. А иногда еще и в очереди нужно было сидеть. Через неделю я не выдержала 
					и начала искать альтернативу. Так случайно нашла Arthro Lab. Оказалось, что у него во многом такой же состав, как у препарата, который мне кололи. Начала его принимать и боль в плече постепенно стихала. За время, которое экономлю, успеваю приготовить ужин и посмотреть две серии любимого сериала.</div>
					<div class="shadow"></div>
				</div>
					<div class="reviews-box__btn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava6.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Галина, 44 года</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Краков</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">Мой отец страдает болью 
					в суставах и обычно происходит это
					<b>“на погоду”. Спасается только этим средством</b>. За счет того, что его нужно пить, Arthro Lab действует быстрее, чем другие препараты. Дедушка доволен и всегда просит заказать ему “про запас”.</div>
					<div class="shadow rev-dn"></div>
				</div>
					<div class="reviews-box__btn rev-dn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava7.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Эдуард, 56 лет</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Турин</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/g-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">После курса приема спину стало постепенно отпускать, однако затем эффект постепенно прошел
					и пришлось снова покупать лекарство. Но <b>суставы стали заметно подвижнее</b>. Поэтому впечатление от лекарства, 
					в целом, положительное. Заказывал через интернет. Доставкой доволен.</div>
					<div class="shadow rev-dn"></div>
				</div>
					<div class="reviews-box__btn rev-dn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava8.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Любовь, 49 лет</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Валенсия</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">Я не очень разбираюсь в структуре сустава и, как там все работает, но знаю, что глюкозамин и хондроитин — выполняют функцию “кирпичиков”. Только им под силу хоть как-то вернуть все в прежнюю форму. А они как раз есть в составе <span class="blue">Arthro Lab</span>. У меня проблемы с суставами еще с юных лет. Могу сказать, что это средство себя оправдало. После пройденного курса чувствую себя намного лучше, воспаление в колене понемногу проходит. Периодически даже выхожу на улицу без трости.</div>
					<div class="shadow"></div>
				</div>
					<div class="reviews-box__btn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava9.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Вера, 69 лет</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Милан</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">У меня коксартроз тазобедренного сустава. Врачи предлагают только операцию. Но меня пугает длительная реабилитация, не хочется выпадать 
					из жизни на несколько месяцев. Последняя надежда была на новейшую технологию — <span class="blue">Arthro Lab</span>. Немного затратно получается, так как в упаковке всего 5 штук монодоз, 
					а принимать их нужно каждый день. Но с другой стороны, я вижу результат: могу нормально ходить, у меня не выкручивает ногу. </div>
					<div class="shadow"></div>
				</div>
					<div class="reviews-box__btn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
			<div class="reviews-box">
				<div class="reviews-box__img img-effect"><img src="img/ava1.jpg" alt="avatar"></div>
				<div class="reviews-box__name">Варвара, 48 лет</div>
				<div class="reviews-box-cont">
					<div class="reviews-box__city">г. Неаполь</div>
					<div class="reviews-box__star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"><img src="img/full-star.png" alt="star"></div>
				</div>
				<div class="reviews-content__body">
				<div class="reviews-box__text">Всю жизнь проработала в офисе. Теперь вот <b>сидячая работа дает о себе знать</b>. Записалась на прием к врачу,
					но не было сил уже ждать, поэтому решила пропить <span class="blue">Arthro Lab</span>, который мне посоветовала подруга. Состав препарата просто бесценен для суставов. К моему удивлению, <b>у меня</b> почти ничего не болело, когда пришло время идти на прием к врачу. Может кому-то будет интересно: средство довольно приятно пить. </div>
					<div class="shadow"></div>
				</div>
					<div class="reviews-box__btn">
						<div class="reviews-box__cbtn"><img class="plus" src="img/plus.svg" alt="plus"><img class="minus" src="img/minus.svg" alt="minus"></div>
					</div>
			</div>
		
		
			
		</div>
		<svg class="reviews-arrow prev" xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24"><g><g><path d="M11.415.35a1.254 1.254 0 0 1 1.764 0 1.19 1.19 0 0 1 0 1.702l-8.944 8.706h20.512c.688 0 1.253.533 1.253 1.201 0 .67-.564 1.22-1.253 1.22H4.235l8.944 8.692c.477.481.477 1.254 0 1.715a1.257 1.257 0 0 1-1.764 0L.355 12.819a1.19 1.19 0 0 1 0-1.701z"/></g></g></svg>
		<svg class="reviews-arrow next" xmlns="http://www.w3.org/2000/svg" width="26" height="24" viewBox="0 0 26 24"><g><g><path d="M14.567.351a1.25 1.25 0 0 0-1.762 0 1.195 1.195 0 0 0 0 1.704l8.933 8.716H1.25c-.688 0-1.252.534-1.252 1.204 0 .67.564 1.221 1.252 1.221h20.487l-8.933 8.703c-.476.482-.476 1.254 0 1.717a1.253 1.253 0 0 0 1.762 0l11.047-10.78a1.195 1.195 0 0 0 0-1.704z"/></g></g></svg>
	</div>
	</div>
</section>